body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: rgb(172, 172, 172);
    color: azure;
}

h1 {
    font-size: 3rem;
}

h2, h3 {
    font-size: 2rem;
}

p, li {
     font-size: 1.5rem;
}

.antwoorden, .opdracht-1 {
    width: 780px;
    height: auto;
    margin: auto;
}

.antwoorden h3, h2, .opdracht-1 h1 {
    color: black;
}

div.antwoorden b, span {
    color:brown;
}

.different-body {
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.class-selector {
    width: 400px;
    background: grey;
    padding: 10px;
    position: relative;
    top: 500px;
}
.p2 {
    color: green;
}

/* Block element naar volgende regel */
.block-box, div {
    width: 800px;
    background-color: brown;
    margin: 0 auto;
}

#p-inline {
    margin: 0 auto;
} 


