body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: rgb(172, 172, 172);
    color: azure;
}

h1 {
    font-size: 3rem;
}

h2, h3 {
    font-size: 2rem;
}

p, li {
     font-size: 1.5rem;
}

.antwoorden, .opdracht-1 {
    width: 780px;
    height: auto;
    margin: auto;
}

.antwoorden h3, h2, .opdracht-1 h1 {
    color: black;
}

div.antwoorden b, span {
    color:brown;
}

.different-body {
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.class-selector {
    width: 400px;
    background: grey;
    padding: 10px;
    position: relative;
    top: 500px;
}
.p2 {
    color: green;
}

/* Block element naar volgende regel */
.block-box {
    width: 800px;
    background-color: brown;
    margin: 0 auto;
}

#p-inline, #p-inline-1 {
    margin: 0 auto;
    line-height: 50px;
} 

span {
    width: 500px;
    height: 50px;
}

/* Opdracht 5 Padding */
.box-padding {
    padding: 30px;
    background-color: chocolate;
    border: solid  cornflowerblue 5px;
    
}

/* Opdracht 6 Margin */
.container-box {
width: 800px;
margin: 0 auto;
}

.box-margin {
    margin: 25px;
}

/* Opdracht 7 Blok */

.blok-7 {
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    border-width: 5px;
    border-style: solid;
    background-color: rgb(255, 175, 175);
}

/* Opdracht 8 Blok */

.blok-8 {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    border-width: 5px;
    border-style: solid;
    background-color: rgb(255, 175, 175);   
}
.blok-8 p {
    font-size: 1rem;
}

/* Opdracht 9 Blokken */

.container-box-1 {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: darkorange;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
}

.blok-9 {
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    margin: 15px;
    padding: 15px;
    border-width: 5px;
    border-style: solid;
    background-color: rgb(169, 169, 169);   
}

.blok-10 {
    flex:auto;
    background-color: darkseagreen;
    border-width: 10px;
    border-style:inset;
    padding: 30px 15px;
}
