/* challenge met Janou en Miki*/
.container {
    margin: 300px auto;
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container div {
    background-color: rgb(176, 45, 160);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
    position: relative;
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#one {
    animation-delay: 0s;
}
#two {
    animation-delay: 0.5s;
}
#three {
    animation-delay: 1s;
}
@keyframes grow {
    0% {
        height: 40px;
        width: 40px;
    }
    50% {
        height: 20px;
        width: 20px;
    }
    100% {
        height: 40px;
        width: 40px;
    }
}